body {
  background-color: yellow;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: aqua;
  padding: 10px;
  border: 2px solid green;
  margin: 12px;
}

h1 {
  text-align: center;
  font-size: 50px;
}

img{
    width:540px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 30px;
}
